{% extends 'courses/base.html' %}

<!-- The form.html template extends the base.html template. -->

{% block content %}
<form method="POST">
  {% csrf_token %}
  <hr />
  {{ forum_form.as_p }}
  <button
    data-dialog-close="true"
    class="rounded-md bg-green-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
    type="submit"
  >
    Post
  </button>
</form>
{% endblock %}
