{% extends 'courses/base.html' %}
<!-- The homepage template extends the base template. -->
{% block content %}
<!-- Main Content -->
<main class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4 text-primary">Welcome to MyApp</h1>
  <p class="text-lg text-gray-600 mb-6">
    Explore our courses, participate in forums, and more.
  </p>
  <div class="grid md:grid-cols-3 gap-6">
    <div class="bg-white shadow rounded-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Courses</h2>
      <p class="text-gray-600">
        Browse through our extensive collection of courses.
      </p>
      <a
        href="{% url 'courses:course_list' %}"
        class="mt-4 inline-block text-primary font-medium hover:underline"
      >
        Explore Courses
      </a>
    </div>
    <div class="bg-white shadow rounded-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Forums</h2>
      <p class="text-gray-600">
        Engage in discussions and connect with others.
      </p>
      <a
        href="{% url 'forums:forum_list' %}"
        class="mt-4 inline-block text-primary font-medium hover:underline"
      >
        Join Forums
      </a>
    </div>
    <div class="bg-white shadow rounded-lg p-4">
      <h2 class="text-xl font-semibold mb-2">Get Started</h2>
      <p class="text-gray-600">Register now to unlock more features.</p>
      <a
        href="{% url 'users:register' %}"
        class="mt-4 inline-block text-primary font-medium hover:underline"
      >
        Register Now
      </a>
    </div>
  </div>
</main>
<!-- Courses Section -->
<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-extrabold text-primary mb-10 text-center">
    Explore Courses
  </h1>
  {% if courses %}
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {% for course in courses %}
    <div
      class="bg-white rounded-lg shadow-lg hover:shadow-xl overflow-hidden transition-shadow duration-300 group"
    >
      <!-- Course Details -->
      <div class="p-6">
        <h2
          class="text-lg font-bold text-gray-800 truncate group-hover:text-primary transition-colors"
        >
          {{ course.title }}
        </h2>
        <br />
        <p class="text-gray-600 text-sm">
          Instructor:
          <span class="font-medium">{{ course.instructor.username }}</span>
        </p>
        {% if available in institutions %}
        <p>Institution: {{ available.name }}</p>
        {% endif %}
        <br />
        <p class="text-gray-800 font-semibold text-lg">${{ course.price }}</p>
        <!-- Call to Action Buttons -->
        <div class="space-y-2">
          {% if user.is_authenticated and user.is_instructor %}
          <hr class="my-2" />
          {% if user == course.instructor %}
          <a
            href="{% url 'courses:course_detail' course.pk %}"
            class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors w-full text-center"
          >
            Manage Course
          </a>
          {% else %}
          <!--           <a -->
          {% if course.id in enrolled_courses %}
          <a
            href="{% url 'courses:course_detail' course.pk %}"
            class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors w-full text-center"
          >
            View Course
          </a>
          {% else %}
          <a
            href="{% url 'courses:course_enrollment' course.pk %}"
            class="inline-block bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition-colors w-full text-center"
          >
            Enroll Course
          </a>
          {% endif %}
          <!--           <a -->
          {% endif %}
          <hr class="my-2" />
          {% elif user.is_authenticated and user.is_learner %}
          <hr class="my-2" />
          {% if course.id in enrolled_courses %}
          <a
            href="{% url 'courses:course_detail' course.pk %}"
            class="inline-block bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition-colors w-full text-center"
          >
            Start Course
          </a>
          {% else %}
          <a
            href="{% url 'courses:course_enrollment' course.pk %}"
            class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors w-full text-center"
          >
            Enroll Now
          </a>
          {% endif %}
          <hr class="my-2" />
          {% else %}
          <a
            href="{% url 'users:login' %}"
            class="inline-block bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors w-full text-center"
          >
            Login as Learner to Enroll
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <section>
    <p class="text-gray-500 text-center">No courses found.</p>
  </section>
  {% endif %}
  <hr />
  <br />
  <hr />
  <!-- Pagination -->
  <div class="flex justify-center">
    <a
      class="text-primary hover:underline"
      href="{% url 'courses:course_list' %}"
      >View More</a
    >
  </div>
</div>
<br />
<!-- Institutions Section -->
<div class="container mx-auto px-4 py-8">
  <h2 class="text-3xl font-bold text-gray-900 text-center py-4">Institutions</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for available_institution in institutions %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden text-center p-2">
      <span class="text-lg font-semibold text-center justify-center">{{ available_institution.name }}</span>
    </div>
    {% endfor %}
    <!-- Users -->
  </div>
</div>
  {% endblock content %}
</div>
